<?xml version="1.0"?>
<!--
/**
 * Tim
 *
 * @category   Tim
 * @package    Tim_Recommendation
 * @copyright  Copyright (c) 2015 Tim (http://tim.pl)
 * @author     Bogdan Bakalov <bakalov.bogdan@gmail.com>
 */
-->
<config>
    <modules>
        <Tim_Recommendation>
            <version>0.1.4</version>
        </Tim_Recommendation>
    </modules>
    <global>
        <models>
            <tim_recommendation>
                <class>Tim_Recommendation_Model</class>
                <resourceModel>tim_recommendation_resource</resourceModel>
            </tim_recommendation>
            <tim_recommendation_resource>
                <class>Tim_Recommendation_Model_Resource</class>
                <entities>
                    <recommendation>
                        <table>tim_recommendation</table>
                    </recommendation>
                    <user>
                        <table>tim_recom_user</table>
                    </user>
                    <media>
                        <table>tim_recom_media</table>
                    </media>
                    <user_type>
                        <table>tim_user_type</table>
                    </user_type>
                    <level>
                        <table>tim_user_level</table>
                    </level>
                </entities>
            </tim_recommendation_resource>
            <core>
                <rewrite>
                    <email>Tim_Recommendation_Model_Email</email>
                </rewrite>
            </core>
        </models>
        <resources>
            <tim_recommendation_setup>
                <setup>
                    <module>Tim_Recommendation</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tim_recommendation_setup>
            <tim_recommendation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tim_recommendation_write>
            <tim_recommendation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tim_recommendation_read>
        </resources>
        <blocks>
            <tim_recommendation>
                <class>Tim_Recommendation_Block</class>
            </tim_recommendation>
        </blocks>
        <helpers>
            <tim_recommendation>
                <class>Tim_Recommendation_Helper</class>
            </tim_recommendation>
        </helpers>
        <events>
            <admin_system_config_changed_section_tim_recommendation>
                <observers>
                    <save_user_type>
                        <type>singleton</type>
                        <class>tim_recommendation/observer</class>
                        <method>saveUserType</method>
                    </save_user_type>
                </observers>
            </admin_system_config_changed_section_tim_recommendation>
            <admin_system_config_changed_section_tim_recommendation>
                <observers>
                    <save_user_level>
                        <type>singleton</type>
                        <class>tim_recommendation/observer</class>
                        <method>saveUserLevel</method>
                    </save_user_level>
                </observers>
            </admin_system_config_changed_section_tim_recommendation>
            <controller_action_predispatch_customer_account_editPost>
                <observers>
                    <tim_recommendation_save>
                        <class>Tim_Recommendation_Model_Observer</class>
                        <method>saveCustomerAction</method>
                    </tim_recommendation_save>
                </observers>
            </controller_action_predispatch_customer_account_editPost>
            <controller_index_add_opinion_data>
                <observers>
                    <send_opinion_email>
                        <type>singleton</type>
                        <class>tim_recommendation/observer</class>
                        <method>sendOpinionEmail</method>
                    </send_opinion_email>
                </observers>
            </controller_index_add_opinion_data>
            <controller_index_add_comment_data>
                <observers>
                    <send_opinion_email>
                        <type>singleton</type>
                        <class>tim_recommendation/observer</class>
                        <method>sendCommentEmail</method>
                    </send_opinion_email>
                </observers>
            </controller_index_add_comment_data>
        </events>
        <template>
            <email>
                <opinion_template>
                    <label>Opinion message</label>
                    <file>confirmOpinion.html</file>
                    <type>html</type>
                </opinion_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tim_recommendation before="Mage_Adminhtml">Tim_Recommendation_Adminhtml</tim_recommendation>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Tim_Recommendation>
                    <files>
                        <default>Tim_Recommendation.csv</default>
                    </files>
                </Tim_Recommendation>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tim_recommendation>
                                            <title>Tim Recommendation</title>
                                        </tim_recommendation>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <recommendation>
                <use>standard</use>
                <args>
                    <module>Tim_Recommendation</module>
                    <frontName>recommendation</frontName>
                </args>
            </recommendation>
        </routers>
        <layout>
            <updates>
                <tim_recommendation>
                    <file>tim/recommendation.xml</file>
                </tim_recommendation>
            </updates>
        </layout>
        <translate>
            <modules>
                <Tim_Recommendation>
                    <files>
                        <default>Tim_Recommendation.csv</default>
                    </files>
                </Tim_Recommendation>
            </modules>
        </translate>
    </frontend>
</config>