<?xml version="1.0"?>
<!--
/**
 * Tim
 *
 * @category   Tim
 * @package    Tim_Recommendation
 * @copyright  Copyright (c) 2015 Tim (http://tim.pl)
 * @author     Bogdan Bakalov <bakalov.bogdan@gmail.com>
 */
-->
<config>
    <tabs>
        <tim_tab translate="label" module="tim_recommendation">
            <label>TIM SA</label>
            <sort_order>100500</sort_order>
        </tim_tab>
    </tabs>
    <sections>
        <tim_recommendation translate="label">
            <label>Recommendation</label>
            <tab>tim_tab</tab>
            <sort_order>5</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <user_type translate="label">
                    <label>User type</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <values translate="label">
                            <frontend_model>tim_recommendation/system_config_userType</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </values>
                    </fields>
                </user_type>
            </groups>
        </tim_recommendation>
    </sections>
</config>