<?xml version="1.0"?>
<!--
/**
 * Tim
 *
 * @category   Tim
 * @package    Tim_Recommendation
 * @copyright  Copyright (c) 2015 Tim (http://tim.pl)
 * @author     Bogdan Bakalov <bakalov.bogdan@gmail.com>
 */
-->
<config>
    <tabs>
        <tim_tab translate="label" module="tim_recommendation">
            <label>TIM SA</label>
            <sort_order>100500</sort_order>
        </tim_tab>
    </tabs>
    <sections>
        <tim_recommendation translate="label">
            <label>Recommendation</label>
            <tab>tim_tab</tab>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <user_type translate="label">
                    <label>User type</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <values translate="label">
                            <frontend_model>tim_recommendation/system_config_userType</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </values>
                    </fields>
                </user_type>
                <user_level translate="label">
                    <label>User level</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <level_values translate="label">
                            <frontend_model>tim_recommendation/system_config_userLevel</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </level_values>
                    </fields>
                </user_level>
            </groups>
        </tim_recommendation>
        <tim_avatar_settings translate="label">
            <label>Avatar settings</label>
            <tab>tim_tab</tab>
            <sort_order>30</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
                <groups>
                    <default_avatars translate="label">
                        <label>Default avatars</label>
                        <sort_order>5</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <fields>
                            <avatar1 translate="label comment" module="tim_recommendation">
                                <label>Avatar 1</label>
                                <frontend_type>image</frontend_type>
                                <backend_model>tim_recommendation/system_config_backend_avatar</backend_model>
                                <upload_dir config="system/filesystem/media">tim/recommendation</upload_dir>
                                <base_url type="media">tim/recommendation</base_url>
                                <sort_order>5</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </avatar1>
                            <avatar2 translate="label comment" module="tim_recommendation">
                                <label>Avatar 2</label>
                                <frontend_type>image</frontend_type>
                                <backend_model>tim_recommendation/system_config_backend_avatar</backend_model>
                                <upload_dir config="system/filesystem/media">tim/recommendation</upload_dir>
                                <base_url type="media">tim/recommendation</base_url>
                                <sort_order>10</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </avatar2>
                            <avatar3 translate="label comment" module="tim_recommendation">
                                <label>Avatar 3</label>
                                <frontend_type>image</frontend_type>
                                <backend_model>tim_recommendation/system_config_backend_avatar</backend_model>
                                <upload_dir config="system/filesystem/media">tim/recommendation</upload_dir>
                                <base_url type="media">tim/recommendation</base_url>
                                <sort_order>15</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </avatar3>
                            <avatar4 translate="label comment" module="tim_recommendation">
                                <label>Avatar 4</label>
                                <frontend_type>image</frontend_type>
                                <backend_model>tim_recommendation/system_config_backend_avatar</backend_model>
                                <upload_dir config="system/filesystem/media">tim/recommendation</upload_dir>
                                <base_url type="media">tim/recommendation</base_url>
                                <sort_order>20</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </avatar4>
                            <avatar5 translate="label comment" module="tim_recommendation">
                                <label>Avatar 5</label>
                                <frontend_type>image</frontend_type>
                                <backend_model>tim_recommendation/system_config_backend_avatar</backend_model>
                                <upload_dir config="system/filesystem/media">tim/recommendation</upload_dir>
                                <base_url type="media">tim/recommendation</base_url>
                                <sort_order>25</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                            </avatar5>
                        </fields>
                    </default_avatars>
                </groups>
        </tim_avatar_settings>
        <tim_salt translate="label">
            <label>Salt</label>
            <tab>tim_tab</tab>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <salt translate="label">
                    <label>Salt</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <value translate="label">
                            <label>Salt</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </value>
                    </fields>
                </salt>
            </groups>
        </tim_salt>
        <tim_settings translate="label">
            <label>Settings</label>
            <tab>tim_tab</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <confirm_set translate="label">
                    <label>Confirm opinion comment malpractice</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <!--Opinion field set-->
                        <tim_opinion_confirm_label>
                            <label><![CDATA[<strong>Opinia</strong>]]></label>
                            <frontend_type>label</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_opinion_confirm_label>
                        <tim_enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tim_recommendation/options</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_enabled>
                        <tim_email_to>
                            <label>Send order email to</label>
                            <frontend_type>text</frontend_type>
                            <comment>Please, put only one address</comment>
                            <validate>validate-email</validate>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_email_to>
                        <tim_copy_to>
                            <label>Send order email copy to</label>
                            <frontend_type>text</frontend_type>
                            <comment>Comma-separated</comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_copy_to>
                        <tim_copy_method>
                            <label>Send order email copy to</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tim_recommendation/methods</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_copy_method>
                        <tim_opinion_inform>
                            <label>Send confirmation to add opinion</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tim_recommendation/options</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_opinion_inform>
                        <!--Comment field set-->
                        <tim_comment_confirm_label>
                            <label><![CDATA[<strong>Komentarz</strong>]]></label>
                            <frontend_type>label</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_comment_confirm_label>
                        <tim_comment_enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tim_recommendation/options</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_comment_enabled>
                        <tim_comment_email_to>
                            <label>Send order email to</label>
                            <frontend_type>text</frontend_type>
                            <comment>Please, put only one address</comment>
                            <validate>validate-email</validate>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_comment_email_to>
                        <tim_comment_copy_to>
                            <label>Send order email copy to</label>
                            <frontend_type>text</frontend_type>
                            <comment>Comma-separated</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_comment_copy_to>
                        <tim_comment_copy_method>
                            <label>Send order email copy to</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tim_recommendation/methods</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_comment_copy_method>
                        <tim_comment_inform>
                            <label>Send confirmation to add comment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tim_recommendation/options</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_comment_inform>
                        <!--Malpractice field set-->
                        <tim_malpractice_confirm_label>
                            <label><![CDATA[<strong>Nadużycie</strong>]]></label>
                            <frontend_type>label</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_malpractice_confirm_label>
                        <tim_malpractice_enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tim_recommendation/options</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_malpractice_enabled>
                        <tim_malpractice_email_to>
                            <label>Send order email to</label>
                            <frontend_type>text</frontend_type>
                            <comment>Please, put only one address</comment>
                            <validate>validate-email</validate>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_malpractice_email_to>
                        <tim_malpractice_copy_to>
                            <label>Send order email copy to</label>
                            <frontend_type>text</frontend_type>
                            <comment>Comma-separated</comment>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_malpractice_copy_to>
                        <tim_malpractice_copy_method>
                            <label>Send order email copy to</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tim_recommendation/methods</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_malpractice_copy_method>
                        <tim_malpractice_inform>
                            <label>Send confirmation to add malpractice</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tim_recommendation/options</source_model>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_malpractice_inform>
                    </fields>
                </confirm_set>
                <required_opinion_fields translate="label">
                    <label>Required fields in the opinion</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <advantages>
                            <label>Advantages of the product</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </advantages>
                        <defects>
                            <label>Product defects</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </defects>
                        <summary>
                            <label>Summary</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </summary>
                        <price_to_quality>
                            <label>Price to quality</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price_to_quality>
                        <product_durability>
                            <label>Product durability</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_durability>
                        <product_failure>
                            <label>Product failure</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_failure>
                        <easy_installation>
                            <label>Easy installation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </easy_installation>
                        <use_product>
                            <label>Do you use this product</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_product>
                        <recommend_product>
                            <label>Do you recommend this product</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </recommend_product>
                        <add_photo>
                            <label>Here you can add photos</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </add_photo>
                        <add_video>
                            <label>Here you can add video</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </add_video>
                    </fields>
                </required_opinion_fields>
                <max_min_length translate="label">
                    <label>The maximum and minimum number of characters in the opinion and comments</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <tim_opinion_label>
                            <label><![CDATA[<strong>Opinia</strong>]]></label>
                            <frontend_type>label</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_opinion_label>
                        <tim_opinion_min>
                            <label>The minimum number of characters</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry validate-not-negative-number</validate>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_opinion_min>
                        <tim_opinion_max>
                            <label>The maximum number of characters</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry validate-not-negative-number</validate>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_opinion_max>
                        <tim_comment_label>
                            <label><![CDATA[<strong>Komentarz</strong>]]></label>
                            <frontend_type>label</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_comment_label>
                        <tim_comment_min>
                            <label>The minimum number of characters</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry validate-not-negative-number</validate>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_comment_min>
                        <tim_comment_max>
                            <label>The maximum number of characters</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry validate-not-negative-number</validate>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_comment_max>
                    </fields>
                </max_min_length>
            </groups>
        </tim_settings>
    </sections>
</config>