<?xml version="1.0"?>
<!--
/**
 * Tim
 *
 * @category   Tim
 * @package    Tim_Recommendation
 * @copyright  Copyright (c) 2015 Tim (http://tim.pl)
 * @author     Bogdan Bakalov <bakalov.bogdan@gmail.com>
 */
-->
<config>
    <tabs>
        <tim_tab translate="label" module="tim_recommendation">
            <label>TIM SA</label>
            <sort_order>100500</sort_order>
        </tim_tab>
    </tabs>
    <sections>
        <tim_recommendation translate="label">
            <label>Recommendation</label>
            <tab>tim_tab</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <user_type translate="label">
                    <label>User type</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <values translate="label">
                            <frontend_model>tim_recommendation/system_config_userType</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </values>
                    </fields>
                </user_type>
                <user_level translate="label">
                    <label>User level</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <level_values translate="label">
                            <frontend_model>tim_recommendation/system_config_userLevel</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </level_values>
                    </fields>
                </user_level>
            </groups>
        </tim_recommendation>
        <tim_confirm translate="label">
            <label>Settings</label>
            <tab>tim_tab</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <confirm_opinion translate="label">
                    <label>Confirm opinion</label>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <tim_enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tim_recommendation/options</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_enabled>
                        <tim_copy_to>
                            <label>Send order email copy to</label>
                            <frontend_type>text</frontend_type>
                            <comment>Comma-separated</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_copy_to>
                        <tim_copy_method>
                            <label>Send order email copy to</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tim_recommendation/methods</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tim_copy_method>
                    </fields>
                </confirm_opinion>
            </groups>
        </tim_confirm>
    </sections>
</config>