/* common styles for all */

.tim-comm-left-column, .tim-comm-main-column, .tim-comm-main-column-wide, .tim-comm-right-column {
	border: 1px solid #cdcece;
	box-sizing: border-box;
	padding:15px;
	font-size:12px;
}

.tim-comm-button-addopinion {
	background:	url(../../../images/tim_button_plus.png) no-repeat 94% center, -webkit-linear-gradient(top, #3F81D1 0%, #216CC9 50%, #0158C1 100%);
	background:	url(../../../images/tim_button_plus.png) no-repeat 94% center, -moz-linear-gradient(top, #3F81D1 0%, #216CC9 50%, #0158C1 100%);
	background:	url(../../../images/tim_button_plus.png) no-repeat 94% center, -webkit-gradient(top, #3F81D1 0%, #216CC9 50%, #0158C1 100%);
	background:	url(../../../images/tim_button_plus.png) no-repeat 94% center, -o-linear-gradient(top, #3F81D1 0%, #216CC9 50%, #0158C1 100%);
	background:	url(../../../images/tim_button_plus.png) no-repeat 94% center, linear-gradient(top, #3F81D1 0%, #216CC9 50%, #0158C1 100%);			
	border: 0px none;
	color: #ECECED;
	margin-left: -2px;
	padding: 0px 0px 0px 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 38px;
	text-align: left;
	border-radius: 3px;
	width:300px;
}

.tim-comment-button-add {
	background: url(../../../images/tim_button_plus_small.png) no-repeat 94% center, -webkit-linear-gradient(top, #3F81D1 0%, #216CC9 50%, #0158C1 100%);
	background: url(../../../images/tim_button_plus_small.png) no-repeat 94% center, -moz-linear-gradient(top, #3F81D1 0%, #216CC9 50%, #0158C1 100%);
	background: url(../../../images/tim_button_plus_small.png) no-repeat 94% center, -webkit-gradient(top, #3F81D1 0%, #216CC9 50%, #0158C1 100%);
	background: url(../../../images/tim_button_plus_small.png) no-repeat 94% center, -o-linear-gradient(top, #3F81D1 0%, #216CC9 50%, #0158C1 100%);
	background: url(../../../images/tim_button_plus_small.png) no-repeat 94% center, linear-gradient(top, #3F81D1 0%, #216CC9 50%, #0158C1 100%);
	border: 0px none;
	color: #ECECED;
	margin-left: -2px;
	padding: 0px 0px 0px 15px;
	font-size: 12px;
	line-height: 30px;
	text-align: left;
	border-radius: 3px;
	width: 200px;
}

.tim-comm-button-smal {
	background: -moz-linear-gradient(#3F81D1 0%, #216CC9 50%, #0158C1 100%);
	background: -webkit-linear-gradient(#3F81D1 0%, #216CC9 50%, #0158C1 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#3F81D1), color-stop(0.5, #216CC9), to(#0158C1));
	background: -o-linear-gradient(#3F81D1 0%, #216CC9 50%, #0158C1 100%);
	background: linear-gradient(#3F81D1 0%, #216CC9 50%, #0158C1 100%);
	border: 0px none;
	color: #ECECED;
	font-size: 12px;
	line-height: 28px;
	text-align: left;
	border-radius: 3px;
	text-align:center;
	width:180px;
}

.tim-comm-button-addopinion:hover, .tim-comment-button-add:hover, .tim-comm-button-smal:hover {
	color:#fff;
	cursor:pointer;
}

/*
.tim-comm-button-addopinion:before, .tim-comment-button-add:before, .tim-comm-button-smal:before {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: 99%;
	height: 1px;
	background: #7FABDF none repeat scroll 0% 0%;
}
*/

.tim-comm-button-addopinion::after {
	content: "";
	position: absolute;
	top: 9px;
	right: 10px;
	width: 12px;
	height: 21px;
	opacity: 0.7;
}

a.tim-readmore {
	color: #0057C1;
	padding-right: 15px;
	margin-left:5px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../../../images/tim_readmore_span.png);
	text-decoration:none;
}

a.tim-readmore:hover {
	color:#000;
	text-decoration:underline;	
	cursor:pointer;
}

.tim-opinion-photo {
	background-image: url(../../../images/tim_icon_photo.png);
	background-position: left top;
	background-repeat: no-repeat;
	height:31px;
	padding-left:42px;
	line-height:38px;
	float:left;
}

.tim-opinion-movie {
	background-image: url(../../../images/tim_icon_movie.png);
	background-position: left top;
	background-repeat: no-repeat;
	height:31px;
	padding-left:36px;
	line-height:38px;
	float:left;
	margin-left:30px;
}

.tim-secondary-title {
	background: url(../../../images/tim_triangle.png) top left no-repeat;
	background-size: 30px 30px;
	font-size:16px;
	line-height:100%;
	font-weight:bold;
	padding-top: 8px;
	padding-left: 8px;
	margin-bottom:15px;
	min-height:30px;
}

.tim-noborder {
	border:0 !important;
}

.tim-nopadding {
	padding:0;
}

.tim-col-noborder {
	border:0;
	padding: 0px 30px 30px 30px;
}

/* header for opinion page */

.tim-comm-header {
	width:100%;
	clear:both;
	margin: 30px 0 20px 0;
}

.tim-comm-header:after { 
   content: ''; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.tim-comm-header-left {
	width:900px;
	float:left;
}

.tim-comm-header-right {
	width:300px;
	float:left;
}

.tim-comm-header-title {
	background: url(../../../images/tim_triangle.png) top left no-repeat;
	background-size: 30px 30px;
	font-size:30px;
	line-height:100%;
	font-weight:bold;
	padding-top: 5px;
	padding-left: 8px;
	margin-bottom:15px;
}

.tim-comm-header-subtitle {
	color:#575656;
	font-size:18px;
	padding-left:10px;
}

.tim-comm-sorting {
	margin-top:15px;
	color:#575656;
}

.tim-comm-sorting select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 1px solid #a9b0b0;
    color: #575656;
    outline: none;
    width: 56%;
    padding: 2px;
    text-indent: 0.01px;
    text-overflow: "";
	height:27px;
	background: url(../../../images/tim_arrow_bottom.png) right center no-repeat;
	margin-left:13px;
	cursor:pointer;
}

/* left collumn for opinion page */

.tim-comm-left-column {
	width:300px;
	float:left;
	background: #f6f6f6;
	border-right:0;
}

.tim-comm-left-column-landing {
	width:300px;
	float:left;
}

.tim-user-photo {
	width:269px;
	height:168px;
	overflow:hidden;
	border:1px solid #ddd;
}

.tim-user-photo::before {
	content:'';
	position: absolute;
	width: 269px;
	height: 168px;
	z-index: 1;
	background: url(../../../images/tim_triangle.png) no-repeat;
	background-size: 50px 50px;
}

.tim-user-name, .tim-user-type, .tim-user-involvement {
	padding-top: 8px;
	border-bottom:1px solid #aaaaaa;
	color:#575656;
}

.tim-user-name p, .tim-user-type p, .tim-user-involvement p {
	font-weight:bold;
	color:#000;	
}

.tim-user-about {
	margin-top:15px;
	text-align:center;
}

.tim-user-editprofile {
	margin-top:15px;
	text-align:center;
}

.tim-user-type-icon {
	width:30px;
	height:30px;
	float:right;
    margin-right: 5px;	
    top: -5px;
    position: relative;	
}

.tim-user-scoregraph {
	background: url(../../../images/tim_user_status_rating.png) top left no-repeat;
	height:25px;
	overflow:hidden;
	background-position: 0 0;
	font-weight:normal;
	text-align:right;
	box-sizing: border-box;	
	padding-top: 4px;
	padding-left:185px;
	margin-bottom:15px;
}

.tim-score-0 {background-position: 0px 0px;}
.tim-score-1 {background-position: 0px -26px;}
.tim-score-2 {background-position: 0px -52px;}
.tim-score-3 {background-position: 0px -78px;}
.tim-score-4 {background-position: 0px -104px;}
.tim-score-5 {background-position: 0px -130px;}
.tim-score-6 {background-position: 0px -156px;}

/* middle collumn for opinion page */

.tim-comm-main-column {
	width:700px;
	float:left;
}

.tim-comm-main-column-wide {
	width:900px;
	    overflow: auto;
}

.tim-comm-main-column-short {
	width:700px;
	float:left;
}

.tim-opinion {
	border-bottom: 1px solid #cdcece;
    margin-bottom: 15px;
}

.tim-opinion:after { 
   content: ''; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
   margin-bottom:10px;
}
	
.tim-opinion-date {
	display:block;
	float:right;
	font-size:12px;
	margin-top: -10px;
	color:#b0b0b0;
	border-bottom: 1px solid #ddd;
}

.tim-opinion-date span {
	color:#656565;	
	font-weight:bold;
}

label.tim-opinion-content-subtitle, .tim-opinion-content-subtitle {
	font-weight:bold;
	height:20px;
	padding-left:25px;
	line-height: 22px;
	margin-bottom:5px;
    display: inline-block;	
}

.tim-icon-good {
		background: url(../../../images/tim_icon_plus.png) no-repeat;
}

.tim-icon-bad {
		background: url(../../../images/tim_icon_minus.png) no-repeat;
}

.tim-icon-summary {
		background: url(../../../images/tim_icon_about.png) no-repeat;
}

.tim-opinion-content {
	width:100%;	
	margin-bottom:10px;
	    overflow: hidden;
}

.tim-comment {
	margin-top:18px;
	padding-left:20px;
}

.tim-comment-container {
	padding-left:35px;
	color:#575656;
	background: url(../../../images/tim_icon_comment.png) top left no-repeat;	
}

.tim-comment-container-title {
	margin-bottom:5px;
}
.tim-comment-container-content {
	border-bottom:1px solid #ddd;
	padding-bottom:15px;
	margin-bottom:15px;
}

.tim-comment-seemore span, .tim-comment-container span {
	font-weight:bold;
}

.tim-comment-seemore {
    padding-left: 35px;
    margin-bottom: 10px;
    float: left;
    padding-top: 5px;
}

.tim-comment-seemore-container {
	width:100%;
	clear:both;
	margin-bottom:10px;
    overflow: auto;	
}

.tim-comment-add {
	float:right;
}

.tim-opinion .form-list label {
	color:#000;
}

.tim-comment-add-window {
	clear:both;	
	padding-left:35px;
    margin-top: 10px;
	position:relative;
	top:10px;
	display:none;
}

.tim-comment-add-info {
	color:#656565;
	margin-bottom:10px;
	padding-top:10px;
	border-top:1px solid #eee;
	font-weight:bold;
}

.tim-comment-add-window .tim-comment-add {
	margin-bottom:8px;
}

/* right collumn for opinion page */

.tim-comm-right-column {
	width:199px;
	float:left;
	border-left:0;
}

.tim-rating-title {
	text-align:center;
	font-size:12px;
	font-weight:bold;
}

.tim-rating-score-main {
	font-size:50px;
	color:#000;
	text-align:center;
	line-height: 55px;
}

.tim-rating-score-main span {
	font-size:30px;
	color:#bbb;	
}

.tim-rating-score-part {
	margin-bottom:6px;
	display:block;
	color:#656565;
	font-size:12px;
	font-weight:bold;
	border-top:1px solid #eee;	
	padding-top:5px;
}

.tim-chart-stars {
	background: url(../../../images/tim_stars.png) top left no-repeat;
	height:25px;
	overflow:hidden;
	background-position: -15px 0;
	font-weight:normal;
	text-align:right;
	box-sizing: border-box;	
	padding-top: 6px;

}

.tim-stars-1 {
	background-position: -15px -25px;
}

.tim-stars-2 {
	background-position: -15px -50px;
}

.tim-stars-3 {
	background-position: -15px -75px;
}

.tim-stars-4 {
	background-position: -15px -100px;
}

.tim-stars-5 {
	background-position: -15px -125px;
}

.tim-chart-boolean {
	width:100%;
	background-color:#eee;
	border: 1px solid #bbb;
	margin-top: 5px;	
}

.tim-chart-boolean span {
	width: 50%;
	display:inline-block;
	text-align:center;
	padding: 3px 0 3px 0;
	color:#bbb;
	box-sizing: border-box;	
}

span.tim-chart-boolean-active {
	color:#000;
	background-color:#ffdd00;
	border: 1px solid #D7D5D5;
}

.tim-advert {
	padding:0;
}

/* add opinion */

.tim-add-opinion {
    position: relative;
}

.placeholder-div{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #a5a5a5;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tim-add-opinion textarea {
	width:99% !important;
	max-width:99% !important;
	min-height: 100px !important;
}
.tim-add-opinion textarea:focus {
	background-color:#eee;
}

.tim-rating-input-container {
	padding-left:20px;
}

.tim-rating-input {
	margin-bottom:6px;
	padding-bottom:4px;
	border-bottom:1px solid #eee;
	width:58%;
	min-height: 35px;
}

.tim-rating-input input[type=file] {
display: none;
}

.tim-rating-input input[type=file] + label {
	position:relative;
	top:2px;
	color:#ECECED;
	padding: 8px 25px;
 }
 
 .tim-rating-input input[type=file] + label:hover {
	color:#fff;
 }


.tim-rating-input-url {
	width:100%;
	min-height: 35px;
}

.tim-rating-input button, .tim-rating-input-url input[type=url] {
	margin-left:0px;
	margin-top:3px;
}

.tim-rating-input-url input[type=text] {
    width: 69%;
    line-height: 200%;
    padding-left: 5px;
}

.tim-rating-input-url input[type=text]:focus {
	background-color:#eee;	
	border:1px solid #656565;
    line-height: 200%;
	padding: 1px 1px 1px 6px;
	content:'x';
}

.tim-rating-input input {
	min-height: 30px;
}

.tim-rating-input form {
	margin-left:30px;
}

.tim-rating-input p, .tim-rating-input-url p {
	float:left;
	width:160px;
	clear:both;
	line-height:290%;
	font-weight:normal;
}

.tim-rating-choice {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
	top:3px;
}
.tim-rating-input-span {
    float: right;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0 5px 0 -25px;
    opacity: 0;
}

label.tim-rating-star:hover {
	cursor:pointer;
}

.tim-rating-input span:nth-child(3) {
    font-size: 14px;
    line-height: 100%;
    position: relative;
    top: -8px;
    left: 4px;
}

.tim-rating-input button {
	margin-top:2px;
}

.tim-rating-choice:hover .tim-rating-star:hover,
.tim-rating-choice:hover .tim-rating-star:hover ~ .tim-rating-star,
.tim-rating-input-span:checked ~ .tim-rating-star {
    background-position: 0 0;
padding:0;
}
.tim-rating-star,
.tim-rating-choice:hover .tim-rating-star {
    position: relative;
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../../../images/tim_stars_rating_input.png) 0 -25px;
}


input[type=radio].tim-rating-button-boolean {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].tim-rating-button-boolean + label.tim-rating-button-boolean-label {
	padding-left:32px;
	height:25px; 
	display:inline-block;
	line-height:25px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
	margin-right:15px;
    margin-top: 4px;
}

input[type=radio].tim-rating-button-boolean:checked + label.tim-rating-button-boolean-label {
	background-position: 0 -26px;
}

input[type=radio].tim-rating-button-boolean:hover + label.tim-rating-button-boolean-label {
	opacity: 0.7;
}

label.tim-rating-button-boolean-label {
	background-image:url(../../../images/tim_stars_rating_radio.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tim-opinion .form-list li {
	margin:0;
}

/* popup window when user needs to login */
.tim-userlogin-popup, .tim-markabuse-popup {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    display:none; 
}
 
.tim-userlogin-popup-bg, .tim-markabuse-popup-bg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1;
    background:#000;
    opacity: 0.6;
}
 
.tim-userlogin-popup-container, .tim-markabuse-popup-container {
    width:600px;
    height: auto;
    position:absolute;
    z-index:2;
    top:50%;
    left:50%;
    margin-top:-150px; 
    margin-left:-300px; 
    background: #fff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 30px #000;
    -webkit-box-shadow:0 0 30px #000;
    box-shadow:0 0 30px #000;
	padding:20px;
	font-size:14px;
	color:#000;
}

.tim-userlogin-area-info span {
    margin-top: 20px;
    top: 2px;
    position: relative;
    margin-right: 10px;
    font-weight: bold;
}
 
.tim-userlogin-popup-bt-close {
    text-indent: -9999px;
    width: 23px;
    height: 23px;
    position: absolute;
    top: -6px;
    right: -6px;
    background: transparent url(../../../images/tim_button_close.png)  no-repeat scroll 0px 0px;
	cursor:pointer;
	border:0;
}
.tim-userlogin-popup-bt-close:hover {
    background: transparent url(../../../images/tim_button_close.png)  no-repeat scroll -33px 0px;
}
	
.tim-userlogin-existuser, .tim-userlogin-newuser {
	display:none;
	margin-top:20px;
}
 
.tim-userlogin-credentials input {
	display:block;
	margin-left:20px;
	font-size:14px;
	padding:5px;
    width: 55%;		
}

.tim-userlogin-credentials input:focus {
	background-color:#ccc;
	border:1px solid #656565;
}

.tim-userlogin-credentials p {
	display:block;
	margin-top:5px;
    margin-left: 20px;	
}

.tim-userlogin-credentials p span {
	float:left;
    width: 220px;
	position:relative;
	top:5px;
}

.tim-userlogin-credentials button {
    margin-left: 150px !important;
    width: 300px;
    margin-top: 20px;
}

/* add comment to opinion */

.tim-add-comment {
	clear:both;
	padding-top:10px;
	border-top: 1px solid #cdcece;
	top: 10px;
    position: relative;
	display:none;
}

.tim-add-comment textarea {
    width: 99%;
	min-height: 140px;
}

.tim-add-comment .tim-opinion-content-subtitle {
	padding-left:0;
}

.tim-add-comment .tim-comment-add {
	margin-bottom:15px;
}

/* opinion landing page */

.recommendation-index-landing .tim-comm-right-column {
	border: 1px solid #cdcece;
}

.recommendation-index-landing .tim-comment-seemore {
	float:right;
}

.tim-comm-list-bulk-subtitle {
	color:#000;
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
	background: url(../../../images/tim_triangle.png) top left no-repeat;
	background-size: 20px 20px;
	line-height:100%;
	padding-top: 4px;
	padding-left: 5px;
	min-height:20px;
}

.tim-comm-list-bulk {
	border:1px solid #cdcece;
	overflow: auto;
    clear: both;
}

.tim-comm-usergrid a:link, .tim-comm-list-bulk a:link {
	text-decoration:none;
	font-weight:bold;
}

.tim-comm-usergrid a:hover, .tim-comm-list-bulk a:hover {
	text-decoration:underline;
}

.tim-comm-list-titlebar {
	background-color:#e5e5e5;
	color:#656565;
	font-size:12px;
}

.tim-list-col1 {
	box-sizing: border-box;
	width:50%;
	float:left;
	padding:4px 5px 4px 15px;
	overflow:hidden;
	display:inline-block;
}
.tim-list-col2 {
	box-sizing: border-box;
	width:49%;
	text-align:center;
	padding:4px 0 4px 0;	
	display:inline-block;	
}

.tim-comm-list-bulk-name {
	color:#000;
	font-weight:bold;
}

.tim-comm-list-bulk-name span {
	color:#999999;
	font-weight:normal;
	margin-left:10px;
}

.tim-comm-list-bulk-positions {
	border-top:1px solid #eee;
}

.tim-comm-list-bulk-rating-bar {
	background-color:#ffdd00;
	width:0;
}

.tim-comm-list-bulk-rating-barinner {
	width:311px;
	border:1px solid #cdcece;		
	opacity:0;
	overflow:hidden;
}

.tim-comm-list-bulk-name img {
	max-width:30px;
	height:20px;
	border:0;
	margin-right:10px;
}

.tim-comm-usergrid {
    width: 33%;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    border: 1px solid #cdcece;
    padding: 5px;
    margin-bottom: 3px;
}
.tim-comm-usergrid img {
	 width:auto;
	 max-width: 100%;
	 max-height: 120px;
	 margin-bottom: 3px;
}

.tim-comm-usergrid-whois {
	color:#656565;
	margin-bottom:5px;	
}

.tim-comm-usergrid-count span {
	font-weight:bold;
}

/* user profile page */

.tim-comm-border-right {
		border-right: 1px solid #cdcece;
}

.tim-user-picture {
	width:100%;
	max-height:500px;
	margin-bottom:15px;
	overflow:hidden;	
}

.tim-user-picture img {
	width:100%;
	height:auto;
}

.tim-user-wwwpage {
	border: 1px solid #cdcece;
	padding:10px;
	font-size:16px;
	font-weight:bold;
}

.tim-triangle-background {
	background: url(../../../images/tim_triangle.png) top left no-repeat;
	background-size: 25px 25px;
	padding-top: 2px;
	padding-left: 6px;
	min-height:30px;
}

.tim-user-about-textfield {
	margin-bottom:15px;
}

.tim-opinion-list-header, .tim-opinion-list {
	margin-bottom:20px;
}

.tim-profile-opinion-list .tim-list-col1 {
	width:70%;
}

.tim-profile-opinion-list .tim-list-col2 {
	width:30%;
}

.tim-profile-opinion-list .tim-comm-list-bulk-rating-barinner {
	width:240px;
}

.tim-opinion-list-header-pagecount, .tim-comm-sorting {
	float:left;
}



.tim-opinion-list-header-howmuchshow ul, .tim-opinion-list-header-howmuchshow p {
    display: inline-block;
    font-size: 13px;
}

.tim-opinion-list-header {
	border-bottom: 1px solid #eaebeb;
	border-top: 1px solid #eaebeb;	
	padding: 5px 0 2px 0;
	    height: 35px;
}

.tim-opinion-list-header-howmuchshow {
	float:left;
	margin-right:30px;
}

.tim-opinion-list-header-howmuchshow ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.tim-opinion-list-header-howmuchshow ul li a {
    background: #d7d7d7;
    display: block;
    width: 30px;
    height: auto;
    padding: 6px 0;
    color: black;
    border-radius: 3px;
    font-size: 13px;
	    text-align: center;
		text-decoration:none;
}

.tim-opinion-list-header-howmuchshow ul li {
    display: inline-block;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
}

.tim-opinion-list-header-howmuchshow ul li.active a {
    background: #b6b6b6;
}

.list-toolbar .page-of input[type="text"] {
    width: 20px;
    border: 1px solid #d4d4d4;
    text-align: center;
    color: #000000;
    padding: 0px 7px;
    line-height: 20px;
}
.tim-opinion-list-header-pagecount {
	margin-right:80px;
}
.tim-opinion-list-header-pagecount button {
    display: inline-block;
    width: 16px;
    height: 17px;
    line-height: 30px;
    padding: 0px;
    vertical-align: middle;
    margin-left: 5px;
	cursor: pointer;
		background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../../../images/tim_arrow_right.png);
	border:0;
}

.tim-opinion-list-header-pagecount input[type="text"] {
    width: 20px;
    border: 1px solid #d4d4d4;
    text-align: center;
    color: #000000;
    padding: 0px 7px;
    line-height: 25px;
}

.tim-opinion-list-header-pagecount p {
    margin: 0px;
    display: inline-block;
    line-height: 30px;
}

.tim-opinion-list-header .tim-comm-sorting {
    margin-top: 0;
    width: 280px;
    float: right;
}

.tim-opinion-list-header .tim-comm-sorting p {
	margin:0;
    display: inline-block;
	    line-height: 30px;
		margin-right:5px;
}

.tim-opinion-list-header .tim-comm-sorting select {
	margin-left:0px;
}

.tim-markabuse-button {
	font-size:10px;	
	text-decoration:none;
	    background: none;
    border: none;
	color:#0057C1;
	cursor:pointer;
}

#tim-abuse-application-sendbt {
	float:right;
}

.tim-abuse-button-position-opinion {
    float: right;
    position: relative;
    bottom: -20px;
}

#form-validate label.required em {
    color: #eb340a;
}

#tim-add-opinion-layout {
    display: none;
}
